<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Sweetaste* 甜點
      link(rel="icon", href="../img/logo-dark.jpg")
      link(rel="stylesheet", href="../public/css/normalize.css")
      link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      link(rel="stylesheet", href="css/checkout-2.css")

  body
    include component/nav.pug
    main
      .sm_container.default
        .wrapper.left
          .insideBox
            .title
              h1 付款
              .progress
                .checkCircle.OK
                  i.material-icons check
                .checkCircle.active
                .checkCircle
            .inputBox
              .inputItem.w100p.mb16
                label(for="") 信用卡卡號
                .input
                  input(type="text" placeholder="9012-3456-7890-1234")
                  i.material-icons credit_card
              .inputItem.w100p
                label(for="") 持卡人姓名
                .row
                  .input.w50p.mr8
                    input(type="text" placeholder="王")
                  .input.w50p
                    input(type="text" placeholder="小明")
              .inputItem.w100p
                label(for="") 有效期限
                .row
                  .input.w50p.mr8
                    input(type="number" placeholder="月")
                  .input.w50p
                    input(type="number" placeholder="年")
              .inputItem.w50p
                label(for="") 背面末三碼
                .input
                  input(type="text" placeholder="123")
          a.btn(href="checkout-3.html")
            span 下一步

        .wrapper.right
          .showInfo.mb20
            .title
              h2 訂單摘要
            .content
              .text.mb10
                span 小計
                span NT$ 2,700
              .text.mb16
                span 運費
                span NT$ 300
              .text.fwb
                span 總計
                span NT$ 3,000
          .showInfo
            .title
              h2 購物清單
            .content
              .shopItem
                .imgBox
                  img(src="../img/dessert/dessert04.jfif", alt="")
                .info
                  span 焦糖馬卡龍（2）
                  span.fwb NT$ 900
              .shopItem
                .imgBox
                  img(src="../img/dessert/dessert02.jfif", alt="")
                .info
                  span 焦糖馬卡龍（2）
                  span.fwb NT$ 900
              .shopItem
                .imgBox
                  img(src="../img/dessert/dessert05.jfif", alt="")
                .info
                  span 焦糖馬卡龍（2）
                  span.fwb NT$ 900


    include component/footer.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="js/checkout-2.js")
