footer
  .email
    .content
      .title
        img(src="../img/svg/logo-light.svg", alt="")
        span 訂閱你我的甜蜜郵件
      .input
        i.material-icons email
        input(type="text")
        .setBtn
          i.material-icons arrow_forward
  .footerInfo
    .content
      .left
        img(src="../img/svg/logotype-sm-dark.svg", alt="")
        p 07-1234-5678
        p sweetaste@email.com 800
        p 高雄市新興區幸福路 520 號
        .social
          a(href="")
            img(src="../img/svg/ic-line@.svg", alt="")
          a(href="")
            img(src="../img/svg/ic-facebook.svg", alt="")
      .right
        img(src="../img/svg/sm-todayIsGoodDayToEat.svg", alt="")
        p.copy © 2018 Sweetaste* All Rights Reserved