header
  .container.default
    .burger.phone(data-id="burger")
      .burger1
      .burger2
      .burger3
    a.pc(href="index.html")
      img(src="../img/svg/logo-all-dark.svg", alt="")
    a.phone(href="index.html")
      img(src="../img/svg/logotype-sm-dark.svg", alt="")
    ul(data-id="menu")
      li
        a(href="index.html") 首頁
      li
        a(href="dessert.html") 甜點
      li
        a(href="login.html") 登入
    a.cart(href="cart.html")
      i.material-icons shopping_cart